<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExchanGo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ExchanGo.Properties.Settings.ExchanGo_dbConnectionString"
            connectionString="Data Source=LAPTOP\SQLEXPRESS1;Initial Catalog=ExchanGo_db;Persist Security Info=True;User ID=sa;Password=123456;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ExchanGo.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>ExchanGo.Properties.Settings.ExchanGo_dbConnectionString</value>
            </setting>
        </ExchanGo.Properties.Settings>
    </userSettings>
</configuration>